@import "../../app.scss";

@keyframes borderAnimation {
  0% {
    border-width: 0;
    border-color: transparent;
  }
  50% {
    border-width: 2px;
    border-color: white;
  }
  100% {
    border-width: 0;
    border-color: transparent;
  }
}

.contact {
  height: 100%;
  max-width: 1366px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: 20px;

  @include mobile {
    width: 100%;
    padding: 10px;
    flex-direction: column;
  }

  .textContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-left: 10%;

    @include mobile {
      gap: 20px;
      text-align: center;
      align-items: center;
      margin: auto;
    }

    h1 {
      font-size: 88px;
      font-family: 'Coolvetica';
      line-height: 88px;
      color: white;

      @include mobile {
        font-size: 36px;
      }
    }

    span {
      font-weight: 300;
    }
  }

  .formContainer {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 20px;

    @include mobile {
      padding: 20px;
      width: 100%;
    }

    .phoneSvg {
      stroke: orange;
      position: absolute;
      margin: auto;
      z-index: -1;
      width: 100%;
      height: auto;
      max-width: 450px;

      @include mobile {
        max-width: 300px;
      }
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 100%;
      max-width: 400px;

      input,
      textarea {
        padding: 20px;
        background-color: transparent;
        border: 1px solid white;
        color: white;
        border-radius: 5px;
        width: 100%;

        @include mobile {
          padding: 10px;
        }
      }

      button {
        padding: 20px;
        border: none;
        background-color: orange;
        cursor: pointer;
        font-weight: 500;
        position: relative;
        overflow: hidden;
        color: white;

        @include mobile {
          padding: 10px;
        }

        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border: 2px solid white;
          box-sizing: border-box;
          opacity: 0;
          transition: opacity 0.3s;
        }

        &:hover:before {
          opacity: 1;
          animation: borderAnimation 1s infinite;
        }
      }
    }
  }
}
